parameters:
  ignoreErrors:
    - '#Access to an undefined property Dotclear\\Database\\Cursor::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Database\\StaticRecord::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Database\\Structure::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Plugin\\widgets\\WidgetsStack::\$[alpha]*.#'
    - '#Access to an undefined property Dotclear\\Interface\\Core\\BlogWorkspaceInterface::\$[alpha]*#'
    - '#Access to an undefined property Dotclear\\Core\\Frontend\\Ctx::\$[alpha]*#'
    - '#Access to an undefined property Dotclear\\Interface\\Core\\UrlInterface::\$[alpha]*#'
    - '#Access to an undefined property Dotclear\\Interface\\Core\\MediaInterface::\$[alpha]*#'
    - '#Access to an undefined property Dotclear\\Interface\\Core\\BlogSettingsInterface::\$[alpha]*#'
